{% extends 'base.html'%}

{% block content %}
<h3>Make a Booking </h3>

<div>
    Booking for {{ current_user.username }}
</div>
<div>
    Email: {{ current_user.email }}
</div>
<form form method="POST" class="form-container">
<label for="booking_date">Date for Booking</label>
            <input 
            type="date" 
            class="form" 
            id="booking_date" 
            name="booking_date" 
            placeholder="" 
            />
            <div>
<label for="booking_amount">Amount of People</label>
            <input 
            type="number" 
            class="form" 
            id="booking_amount" 
            name="booking_amount" 
            placeholder="" 
            />
            <div>

            <br>
            <button type="submit" class="btn">Create Booking</button>
            <label for="option1">
</form>



{% endblock %}