{% extends 'base.html'%}

{% block content %}





    <h2>Booking:</h2>
    <div class="Booking-Data" onclick="">
        Amount of Children {{ amountchildren }}
        Amount of Adults {{ amountadults }}
        £{{ totalamount }}
    </div>
    <li class="nav-item">
        <a class="nav-link" id="delete" onclick="return confirm('Are you sure you want to DELETE your BOOKING. This Cannot be undone')" href="/deletebooking">Delete Booking</a>
        </li>


    <h2> Hotel Booking </h2>
    <div class="Booking-Data" onclick="">
        Amount of days: {{ difference_in_days }}
        Check in Date: {{ Hotel_Check_in }}
        Check Out Date: {{ Hotel_Check_Out }}
        Amount of Beds:{{ Hotel_Beds }}
        Total Amount for Hotel:{{ hotel_total }}
    </div>

    <h2> Full Amount</h2>
    <div class="Booking-Data" onclick="">
       Total: {{ Cart_total }}
    </div>


{% endblock %}