{% extends 'base.html'%}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

<div class="jumbotron">
  <h1 class="display-4">ㅤㅤㅤㅤㅤㅤㅤ</h1>
  <p class="lead">ㅤㅤㅤㅤㅤㅤ</p>
  <hr class="my-4">
  <p>ㅤㅤㅤㅤㅤㅤㅤㅤ</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div id="container2">

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ url_for('static', filename='images/Animal.png')}}" alt="giarrafe">
  <div class="card-body">
    <h5 class="card-title">Our Animals</h5>
    <p class="card-text">Our facilities and Our Animals!</p>
    <a href="#ouranimals" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ url_for('static', filename='images/childrenwatch.png')}}" alt="Children">
  <div class="card-body">
    <h5 class="card-title">Frequently asked questions</h5>
    <p class="card-text">Curious? Look at our FAQ 
      <span></span>
      for further support call (44+)07745558665</p>
    <a href="/faq" class="btn btn-primary">Faq Page</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ url_for('static', filename='images/Tiger.png')}}" alt="Tiger">
  <div class="card-body">
    <h5 class="card-title">Book Tickets</h5>
    <p class="card-text">Save the Date! Book tickets for the zoo</p>
    <a href="/choice" class="btn btn-primary">Booking Page</a>
  </div>
</div>

</div>
<br>

<div class="contentcontainer">
<div class="content">
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident error quaerat consequuntur? Natus accusantium adipisci sint neque eum at blanditiis modi veniam deleniti eligendi aut, maiores culpa voluptates autem repellendus maxime commodi ab aliquam, numquam inventore. Quo dignissimos deleniti ad asperiores architecto eligendi temporibus modi numquam magni reiciendis sed dolor deserunt iste odit aliquid repellendus expedita, unde ex nulla nam esse qui praesentium. Perspiciatis eum magnam nihil animi, ducimus inventore dolor ipsa illum ut velit illo aperiam tenetur voluptate quae veniam optio autem ex eligendi harum doloribus ullam soluta quisquam consectetur! Doloremque dolores, dignissimos tempora in tenetur numquam velit magnam.</div> 
</div>
<div class="content">
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident error quaerat consequuntur? Natus accusantium adipisci sint neque eum at blanditiis modi veniam deleniti eligendi aut, maiores culpa voluptates autem repellendus maxime commodi ab aliquam, numquam inventore. Quo dignissimos deleniti ad asperiores architecto eligendi temporibus modi numquam magni reiciendis sed dolor deserunt iste odit aliquid repellendus expedita, unde ex nulla nam esse qui praesentium. Perspiciatis eum magnam nihil animi, ducimus inventore dolor ipsa illum ut velit illo aperiam tenetur voluptate quae veniam optio autem ex eligendi harum doloribus ullam soluta quisquam consectetur! Doloremque dolores, dignissimos tempora in tenetur numquam velit magnam.</div> 
</div>
<div class="content-img">
  <div>ㅤㅤㅤㅤㅤㅤㅤ</div> 
</div>


</div>
<h1 id="ouranimals">Our animals</h1>
<div id="container2">
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/gorillas.png')}}" alt="Gorllia">
    <div class="card-body">
      <p class="card-text">Gorillas , Big black and Hairy pound gorrillas who are suprisigly friendly</p>
    </div>
  </div>
  
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/giraffe.png')}}" alt="A giraffe">
    <div class="card-body">
      <p class="card-text">Tall, Long and thick giraffes who are REALLY tall</p>
    </div>
  </div>
  
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/reptile.png')}}" alt="A reptile">
    <div class="card-body">
      <p class="card-text">Reptiles, We have tons and they are very very very very warm</p>
    </div>
  </div>
  
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/Panthers.png')}}" alt="A panther">
    <div class="card-body"> 
      <p class="card-text">Cats, ROAAARRRRR dont be scared buddy  </p>
    </div>
  </div>
  
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/Crab.png')}}" alt="A crab">
    <div class="card-body">
      <p class="card-text">arthropods, very small and probally in your house... i rlly hope not actually</p>
    </div>
  </div>
  
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/hawk.png')}}" alt="Hawk">
    <div class="card-body">
      <p class="card-text">BIRDS, we have hawks and tuahs and tons of other type of birds</p>
    </div>
  </div>
  
  </div>


  

{% endblock %}