{% extends 'base.html'%}

{% block content %}

<form form method="POST" class="form-container">
    <p>Note: You can only make one Hotel booking, tickets COME with Hotel Bookings</p>


<label for="hotel_name">Name for Hotel Booking</label>
                            <input 
                            type="" 
                            class="form" 
                            id="hotel_name" 
                            name="hotel_name" 
                            placeholder="" 
                            required
                            />    




<label for="Hotel_Check_in">Date for Check in</label>
                            <input 
                            type="date" 
                            class="form" 
                            id="Hotel_Check_in" 
                            name="Hotel_Check_in" 
                            placeholder="" 
                            required
                            />
                            
          


<label for="Hotel_Check_Out">Checkout Date</label>
                            <input 
                            type="date" 
                            class="form" 
                            id="Hotel_Check_Out" 
                            name="Hotel_Check_Out" 
                            placeholder="" 
                            required
                            />

                            
                          

                          

<label for="Hotel_Beds">Amount of Beds</label>
                            <input 
                            type="number" 
                            class="form" 
                            id="Hotel_Beds" 
                            name="Hotel_Beds" 
                            placeholder="" 
                            required
                            max="6"
                            min="1"
                            />
                            

                            <br>
                            <button type="submit" class="btn">Create Hotel Booking</button>
                            <label for="option1">                           

</form>



Amount of days: {{ difference_in_days }}
Check in Date: {{ Hotel_Check_in }}
Check Out Date: {{ Hotel_Check_Out }}
Amount of Beds:{{ Hotel_Beds }}

Total Amount for{{ hotel_total }}

  {% endblock %}