{% extends 'base.html'%}

{% block content %}
<form method="POST" class="form-container">
    
    <div class="form-container">
    <h3>Login</h3>


            <label for="username">Username</label>
            <input 
            type="text" 
            class="form" 
            id="username" 
            name="username" 
            placeholder="Enter a username" 
            required/>
        <br>
            <label for="password">Password</label>
            <input 
            type="password" 
            class="form" 
            id="password" 
            name="password" 
            placeholder="Enter a password" 
            required/>
        <br>
            <button type="submit" class="btn">Login</button>
        </div>  
        <li class="nav-item">
            <a class="nav-link" href="/signup">Dont Have an Account? Sign up</a>
            </li>
    </div>
</form>
{% endblock %}
